// This style rule makes the root React div fill the height of the viewport.
// Without this style rule the root React div's height will be determined by its children.
html, body, #root, #root > div {
    height: 100%
}

// Removes the default 8px margin on the body.
body {
    margin: 0;
}

html {
    background-color: rgb(235, 229, 217); // Color based off of window color on older versions of Windows.
}